
*[class^='b-']
{
	/*background: rgba(68, 68, 68, 0.23);*/
}

/* БЛОК ПРОМО */
.b-intro{

}

.intro-back{
    background-image: url('../images/intro_back.png');
    background-repeat: no-repeat;
    background-size: 1920px auto;
    background-position: -262px -4px;
    overflow: hidden;
}

.order-block{
    margin: -466px 0 0 182px;
    float: right;
}

.intro__picture-list-box{
	margin: 30px 0 4px 210px;
    width: 640px;
    overflow: hidden;
}

.intro__picture-list-box_one-colum{
    margin: 10px 0 10px 206px;
    float: left;
}

.picture-list-item{
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 1.3em;
} 

.picture-list-item span{
    font-weight: 400;
    letter-spacing: -0.02em;
    font-size: 17px;
    display: block;
    clear: both;
} 

.intro__picture-list-box .item-1{
    background: url('../images/micro.png');
    background-repeat: no-repeat;
    padding: 18px 0 18px 95px;
    margin: 0 0 0 5px;
    width: 305px;
}

.intro__picture-list-box .item-2{
    background: url('../images/like.png');
    background-repeat: no-repeat;
    padding: 18px 0 18px 95px;
	margin: 0 0 0 -10px;
}

.intro__picture-list-box_one-colum .picture-list-item{
    float: none;
    background: url('../images/circle.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding: 19px 0 27px 24px;
    margin: 0 0 0px 0;
}

.intro__picture-list-box_one-colum .cols{
    float: none !important;
}

.logo-text{
    font-size: 172px;
    letter-spacing: -0.01em;
    font-weight: 700;
    margin: 0 0 0 -10px;
}

.pack-box{
    margin-left: 437px;
    margin-top: 14px;
}

.discount-border-block{
    width: 175px;
    height: 175px;
    padding: 10px;
    background: transparent;
    border: 5px solid #efb10e;
    border-radius: 50%;
    position: relative;
    margin: -87px 0 0 -145px;
}

.discount-block{
    width: 145px;
    height: 145px;
    background: #e74700;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-weight: 700;
}

.discount-value{
    padding: 27px 0 0;
    width: 100%;
    text-align: center;
    font-size: 72px;
}

.discount-percent{
    width: 100%;
    text-align: right;
    padding: 0 12px 0 0px;
    margin-top: -29px;
    font-size: 17px;
}

.discount-label{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 10px 0 0;
}

.intro-form{
    position: relative;
    width: 301px;
    height: 354px;
    border-radius: 7px;
    border: 5px solid #6ab5c8;
    background: #fff;
    margin: -87px 0 0 55px;
}

.text-PriceOnly{
    width: 100%;
    margin: 15px 0 13px;
    padding-right: 12px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.text-PriceValue{
    width: 100%;
    padding-right: 8px;
    margin: 0 0 25px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #5d2638;
}

.input{
    width: 220px;
    height: 57px;
    padding-left: 16px;
    border: thin solid #b2b2b2;
    border-radius: 6px;
    line-height: 57px;
    margin: 0px auto 16px;
    display: block;
}

.btn-order{
    display: block;
    width: 240px;
    height: 57px;
    border-radius: 6px;
    line-height: 52px;
    margin: 0px auto 16px;
    background: #e74700;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 22px;
    transition: all 0.3s ease;
}

.btn-order:hover{
    background: #fd621e;
}

.btn-order:active{
    background: #ae3500;
}
/* БЛОК ПРИЗНАКИ */
.b-warning {

}
 

/* БЛОК ФОРМА ЗАКАЗА ПРЕПАРАТА */
.b-order {

}
 

/* БЛОК КАК ПАРАЗИТЫ ПОПАДАЮТ */
.b-effects {

}
 

/* БЛОК КЛИНИЧЕСКИЕ ИССЛЕДОВАНИЯ */
.b-source {

}
 

/* БЛОК КЛИНИЧЕСКИЕ ИССЛЕДОВАНИЯ */
.b-researches {

}
 

/* БЛОК ЧЕМ INTOXIC ЛУЧШЕ */
.b-benefits {

}
 

/* БЛОК ФОРМА ЗАКАЗА ПРЕПАРАТА */
.b-order {

}
 

/* БЛОК ОТЗЫВЫ */
.b-reviews {

}
 

/* БЛОК СЕРТИФИКАТЫ */
.b-certificates {

}
 

/* БЛОК ФОРМА ЗАКАЗА ПРЕПАРАТА */
.b-order {

}
 

/* БЛОК КАК МЫ РАБОТАЕМ */
.b-deal {

}


 